<div class="container"> 
  <nav class="thanhmenu" style="height: 60px;"> 
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <img class="my-logo" src="../assets/img/logo-Angular-new.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/">Bảng điều khiển</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dự án
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" routerLink="add-project">Thêm dự án</a></li>
                <li><a class="dropdown-item" href="#" routerLink="list-project">Danh sách dự án</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Công việc
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" routerLink="add-task">Thêm công việc</a></li>
                <li><a class="dropdown-item" href="#" routerLink="list-task">Danh sách công việc</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nhân viên
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" routerLink="add-employee">Thêm nhân viên</a></li>
                <li><a class="dropdown-item" href="#" routerLink="list-employee">Danh sách nhân viên</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" routerLink="login">Đăng nhập</a>
            </li>
            <li class="nav-item" *ngIf="daDangNhap()">
              <a class="nav-link" aria-current="page" href="#" (click)="thoat()">Đăng xuất</a>
            </li>
          </ul>
          <div *ngIf="daDangNhap()" class="" style="margin-right: 30px">
            <img style="width: 40px;" src="https://cdn-icons-png.flaticon.com/512/147/147142.png" alt=""> 
            <p>Admin</p>
          </div> 
          
        </div>
      </div>
    </nav>
  </nav>

  <nav class="bg-light p-2">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item active" aria-current="page">Bảng điều khiển</li>
      <li class="breadcrumb-item" aria-current="page">Dự án</li>
    </ol>
  </nav>

  <main class="d-flex" style="min-height: 450px; margin-top: 20px">
    <aside class="col-md-1 bg-light" id="cottrai"> </aside>

    <article class="col-md-10 bg-light" id="cotgiua"> 
      <router-outlet></router-outlet>
    </article>

    <aside class="col-md-1 bg-light" id="cotphai">
    </aside>
  </main>

  <footer class="text0-white " style="height: 100px; background-color: rgba(58, 57, 57, 0.575);"> 
    <p class="text-footer" style="margin: 0 auto;">Nguyễn Minh Hiếu - PS16000 - FPT Polytechnic HCM @2022</p>
  </footer>
</div>
